---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% assign profiles = page.profiles | group_by: 'position' %}
      {% for profile in profiles %}
        <h2 class="mt-5">{{ profile.name }}</h2>
        <hr>
        {% assign profiles_ = profile.items | sort: 'joined' %}
        {% for p in profiles_ %}
          <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center mb-4">
            <div class="col col-md-5 row align-items-center">
              {% if p.image %}
                {% assign profile_image_path = p.image | prepend: 'assets/img/' %}
                {% if p.image_circular %}
                  {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
                {% else %}
                  {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
                {% endif %}
                <div class="mr-4">
                  <img
                    class="profile-image"
                    src="{{ profile_image_path | relative_url }}"
                    alt="{{ p.name }}"
                  >
                </div>
              {% endif %}
              <div>
                <a href="{{ p.website }}" target="_blank" class="profile-link">{{ p.name }}</a>
              </div>
            </div>
            <div class="col col-md-7">
              <p>{{ p.description | markdownify }}</p>
            </div>
          </div>
        {%- endfor %}
      {%- endfor %}

    {% endif %}
  </article>
</div>
